<ul _ngcontent-c5="" class="button-group round">
          <li _ngcontent-c5="">
            <button _ngcontent-c5="" class="tiny prev">
              <i _ngcontent-c5="" class="material-icons">Ges 1</i>
            </button>
          </li>
          <li _ngcontent-c5="">
            <button _ngcontent-c5="" class="tiny">
              <i _ngcontent-c5="" class="material-icons">Val</i>
            </button>
          </li>
          <li _ngcontent-c5="">
            <button _ngcontent-c5="" class="tiny next">
              <i _ngcontent-c5="" class="material-icons">Ges 2</i>
            </button>
          </li>
        </ul>
