<head>
  <!-- Material icons font hosted by Google -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Material icons CSS toolkit -->
<link rel="stylesheet" href="/path/to/css/material-icons.min.css">
</head>

<ul class="button-group round">
  <li>
    <button class="tiny prev">
      <i class="material-icons">remove</i>
    </button>
  </li>
  <li>
    <button class="tiny">
      <i class="material-icons">gesture</i>
    </button>
  </li>
  <li>
    <button class="tiny next">
      <i _ngcontent-c5="" class="material-icons">add</i>
    </button>
  </li>
</ul>
