<div class="alt-bands">
  <div class="row column">
    <div class="margin-top-5 margin-bottom-5">
      <p>Example.</p>
    </div>
  </div>
</div>
<div class="alt-bands">
  <div class="row column">
    <div class="margin-top-5 margin-bottom-5">
      <p>Example.</p>
    </div>
  </div>
</div>
<div class="alt-bands">
  <div class="row column">
    <div class="margin-top-5 margin-bottom-5">
      <p>Example.</p>
    </div>
  </div>
</div>
<div class="alt-bands">
  <div class="row column">
    <div class="margin-top-5 margin-bottom-5">
      <p>Example.</p>
    </div>
  </div>
</div>
<div class="alt-bands">
  <div class="row column">
    <div class="margin-top-5 margin-bottom-5">
      <p>Example.</p>
    </div>
  </div>
</div>
