<div class="bg-secondary padding-1">
  <h3>padding-1</h3>
  <p>Class name(s):<code>.padding-1</code></p>
</div>
<div class="bg-secondary padding-2">
  <h3>padding-2</h3>
  <p>Class name(s):<code>.padding-2</code></p>
</div>
<div class="bg-secondary padding-3">
  <h3>padding-3</h3>
  <p>Class name(s):<code>.padding-3</code></p>
</div>
<div class="bg-secondary padding-4">
  <h3>padding-4</h3>
  <p>Class name(s):<code>.padding-4</code></p>
</div>
<div class="bg-secondary padding-5">
  <h3>padding-5</h3>
  <p>Class name(s):<code>.padding-5</code></p>
</div>
<div class="bg-secondary padding-6">
  <h3>padding-6</h3>
  <p>Class name(s):<code>.padding-6</code></p>
</div>
<div class="bg-primary padding-top-1">
  <h3>padding-top-1</h3>
  <p>Class name(s):<code>.padding-top-1</code></p>
</div>
<div class="bg-primary padding-top-2">
  <h3>padding-top-2</h3>
  <p>Class name(s):<code>.padding-top-2</code></p>
</div>
<div class="bg-primary padding-top-3">
  <h3>padding-top-3</h3>
  <p>Class name(s):<code>.padding-top-3</code></p>
</div>
<div class="bg-primary padding-top-4">
  <h3>padding-top-4</h3>
  <p>Class name(s):<code>.padding-top-4</code></p>
</div>
<div class="bg-primary padding-top-5">
  <h3>padding-top-5</h3>
  <p>Class name(s):<code>.padding-top-5</code></p>
</div>
<div class="bg-primary padding-top-6">
  <h3>padding-top-6</h3>
  <p>Class name(s):<code>.padding-top-6</code></p>
</div>
<div class="bg-secondary padding-bottom-1">
  <h3>padding-bottom-1</h3>
  <p>Class name(s):<code>.padding-bottom-1</code></p>
</div>
<div class="bg-secondary padding-bottom-2">
  <h3>padding-bottom-2</h3>
  <p>Class name(s):<code>.padding-bottom-2</code></p>
</div>
<div class="bg-secondary padding-bottom-3">
  <h3>padding-bottom-3</h3>
  <p>Class name(s):<code>.padding-bottom-3</code></p>
</div>
<div class="bg-secondary padding-bottom-4">
  <h3>padding-bottom-4</h3>
  <p>Class name(s):<code>.padding-bottom-4</code></p>
</div>
<div class="bg-secondary padding-bottom-5">
  <h3>padding-bottom-5</h3>
  <p>Class name(s):<code>.padding-bottom-5</code></p>
</div>
<div class="bg-secondary padding-bottom-6">
  <h3>padding-bottom-6</h3>
  <p>Class name(s):<code>.padding-bottom-6</code></p>
</div>
<div class="bg-primary padding-left-1">
  <h3>padding-left-1</h3>
  <p>Class name(s):<code>.padding-left-1</code></p>
</div>
<div class="bg-primary padding-left-2">
  <h3>padding-left-2</h3>
  <p>Class name(s):<code>.padding-left-2</code></p>
</div>
<div class="bg-primary padding-left-3">
  <h3>padding-left-3</h3>
  <p>Class name(s):<code>.padding-left-3</code></p>
</div>
<div class="bg-primary padding-left-4">
  <h3>padding-left-4</h3>
  <p>Class name(s):<code>.padding-left-4</code></p>
</div>
<div class="bg-primary padding-left-5">
  <h3>padding-left-5</h3>
  <p>Class name(s):<code>.padding-left-5</code></p>
</div>
<div class="bg-primary padding-left-6">
  <h3>padding-left-6</h3>
  <p>Class name(s):<code>.padding-left-6</code></p>
</div>
<div class="bg-secondary padding-right-1">
  <h3>padding-right-1</h3>
  <p>Class name(s):<code>.padding-right-1</code></p>
</div>
<div class="bg-secondary padding-right-2">
  <h3>padding-right-2</h3>
  <p>Class name(s):<code>.padding-right-2</code></p>
</div>
<div class="bg-secondary padding-right-3">
  <h3>padding-right-3</h3>
  <p>Class name(s):<code>.padding-right-3</code></p>
</div>
<div class="bg-secondary padding-right-4">
  <h3>padding-right-4</h3>
  <p>Class name(s):<code>.padding-right-4</code></p>
</div>
<div class="bg-secondary padding-right-5">
  <h3>padding-right-5</h3>
  <p>Class name(s):<code>.padding-right-5</code></p>
</div>
<div class="bg-secondary padding-right-6">
  <h3>padding-right-6</h3>
  <p>Class name(s):<code>.padding-right-6</code></p>
</div>
