<div class="padding-1 margin-bottom-1 bg-primary">
  <p>SASS variable: <code>$primary-color</code><br>
  Hex value: <code>#4cc1e0</code><br>
  Class name(s):
  <code>.bg-primary-color</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-secondary">
  <p>SASS variable: <code>$secondary-color</code><br>
  Hex value: <code>#f8971d</code><br>
  Class name(s):
  <code>.bg-secondary-color</code>
  <code>.text-secondary</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-yellow">
  <p>SASS variable: <code>$yellow</code><br>
  Hex value: <code>#fed301</code><br>
  Class name(s):
  <code>.bg-yellow</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-yellow-2">
  <p>SASS variable: <code>$yellow-2</code><br>
  Hex value: <code>#f8c014</code><br>
  Class name(s):
  <code>.bg-yellow-2</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-success">
  <p>SASS variable: <code>$success-color</code><br>
  Hex value: <code>#3adb76</code><br>
  Class name(s):
  <code>.bg-success-color</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-warning">
  <p>SASS variable: <code>$warning-color</code><br>
  Hex value: <code>#ffae00</code><br>
  Class name(s):
  <code>.bg-warning-color</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-alert">
  <p>SASS variable: <code>$alert-color</code><br>
  Hex value: <code>#ef4123</code><br>
  Class name(s):
  <code>.bg-alert-color</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-white shadow">
  <p>SASS variable: <code>$white</code><br>
  Hex value: <code>#fffff</code><br>
  Class name(s):
  <code>.bg-white</code>
  <code>.text-white</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-off-white shadow">
  <p>SASS variable: <code>$off-white</code><br>
  Hex value: <code>#fafafa</code><br>
  Class name(s):
  <code>.bg-off-white</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-very-light-gray shadow">
  <p>SASS variable: <code>$very-light-gray</code><br>
  Hex value: <code>#f7f7f7</code><br>
  Class name(s):
  <code>.bg-very-light-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-lighter-gray">
  <p>SASS variable: <code>$lighter-gray</code><br>
  Hex value: <code>#F9FAFA</code><br>
  Class name(s):
  <code>.bg-lighter-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-light-gray">
  <p>SASS variable: <code>$light-gray</code><br>
  Hex value: <code>#eaeaea</code><br>
  Class name(s):
  <code>.bg-light-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-medium-gray">
  <p>SASS variable: <code>$medium-gray</code><br>
  Hex value: <code>#777777</code><br>
  Class name(s):
  <code>.bg-medium-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-dark-gray">
  <p>SASS variable: <code>$dark-gray</code><br>
  Hex value: <code>#8a8a8a</code><br>
  Class name(s):
  <code>.bg-dark-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-onyx">
  <p>SASS variable: <code>$onyx</code><br>
  Hex value: <code>#353839</code><br>
  Class name(s):
  <code>.bg-onyx</code>
  <code>.text-onyx</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-very-dark-gray">
  <p>SASS variable: <code>$very-dark-gray</code><br>
  Hex value: <code>#181818</code><br>
  Class name(s):
  <code>.bg-very-dark-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-black">
  <p>SASS variable: <code>$black</code><br>
  Hex value: <code>#010100</code><br>
  Class name(s):
  <code>.bg-black</code>
  <code>.text-black</code>
  </p>
</div>
