<h3 class="serif">h3 classed with <code>.serif</code></h3>
<h3 class="sans-serif">h3 classed with <code>.sans-serif</code></h3>
<p class="sans-serif">Lorem impsum blah blah blah…</p>
<p class="serif">Lorem impsum blah blah blah…</p>

<p class="text-uppercase">Here's how to make everything uppercase: <code>.text-uppercase</code></p>
<p class="text-lowercase">Here's how to make everything lowercase: <code>.text-lowercase</code></p>
<p class="text-capitalize">Here's how to capitalize each word: <code>.text-capitalize</code></p>
<p class="defaultcase">Override any text-transformations, restoring the default case: <code>.defaultcase</code></p>
