<div class="sidebar-section bg-light-gray padded-wrapper rounded-small">
  <h3>Example</h3>
  <ul class="no-bullet list-col-double">
    <li class="col-1"><a>Item 1</a></li>
    <li class="col-2"><a>Item 2</a></li>
  </ul>
</div>

<div class="sidebar-section sidebar-dreamjob">
  <a>
    <h3>Header</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
  </a>
</div>
