<div class="alt-bands">
  <div class="row column">
    <div class="side-by-side">
        <figure class="image bg-onyx padding-1">
          <figcaption>Background image or flat background color, with or without text.</figcaption>
        </figure>
      <div class="copy padding-1 text-center">
        <header>
          <h2 class="sans-serif font-wide fixed-size-x-large separated-secondary-thin-narrow">Header</h2>
        </header>
        <p>Lorem ipsumy paragraph text.</p>
        <a href="#" class="button">A button!</a>
      </div>
    </div>
  </div>
</div>
<div class="alt-bands">
  <div class="row column">
    <div class="side-by-side flip">
        <figure class="image bg-onyx padding-1">
          <figcaption>Background image or flat background color, with or without text.</figcaption>
        </figure>
      <div class="copy padding-1 text-center">
        <header>
          <h2 class="sans-serif font-wide fixed-size-x-large separated-secondary-thin-narrow">Header</h2>
        </header>
        <p>Lorem ipsumy paragraph text.</p>
        <a href="#" class="button">A button!</a>
      </div>
    </div>
  </div>
</div>
