<h3>Typography</h3>
<p>To do: Typography will require code examples. Add Sidelines styles</p>
<ul>
  <li>Base font: Open Sans</li>
  <li>Secondary font: Montserrat</li>
  <li>Header font family: Playfair Display</li>
  <li>Base font size: 16px (1em)</li>
  <li>Links: based on <a>$primary-color</a> variable</li>
</ul>
<h1>I am h1</h1>
<h2>I am h2</h2>
<h3>I am h3</h3>
<h4>I am h4</h4>
<h5>I am h5</h5>
<h6>I am h6</h6>
<hr>
<h4>AQ-Specific Utility Classes</h4>
<ul>
  <li>.uppercase</li>
  <li>.defaultcase</li>
  <li>.sans-serif</li>
  <li>.serif</li>
  <li>.line-break</li>
  <li>.light</li>
  <li>.no-bullet</li>
  <li>.subheader</li>
  <li>.lead</li>
  <li>.stat</li>
  <li>.text-white</li>
  <li>.text-secondary</li>
  <li>.text-onyx</li>
  <li>.text-black</li>
  <li>.text-inline</li>
  <li>.separated</li>
  <li>.separated-left</li>
  <li>.separated-right</li>
  <li>.separated-center</li>
  <li>.sidelines</li>
</ul>
