<div id="lead-form-wrapper-1" class="lead-form-wrapper lead-form-wrapper-1 generic customized has-job-search us bg-light-gray padded-form-wrapper text-center padding-top-4x">
  <form id="lead-form-1" class="lead-form lead-form-1">
    <div class="select-box status-wrapper field-wrapper mandatory">
      <label class="show-for-sr" for="status-1">status</label>
      <select name="status" id="status-1" class="status status-1 valid">
        <option value="" disabled="" hidden="" selected="">I am looking for</option>
        <option value="Contact">I am looking for talent</option>
        <option value="Talent">I am looking for work</option>
      </select>
    </div>
    <div id="contact-form-fields-1" class="contact-form-fields contact-form-fields-1">
      <fieldset class="contact-info">
        <legend class="show-for-sr">Contact Information</legend>
        <div class="field-wrapper mandatory"><label class="show-for-sr" for="email-1">Email</label><input id="email-1" class="email email-1" name="email" type="email" placeholder="Work Email"></div>
      </fieldset>
      <div class="comments-wrapper field-wrapper">
        <label class="show-for-sr" for="user-comments-1">Tell us how we can help you (optional)</label>
        <textarea name="user-comments" id="user-comments-1" class="comments user-comments user-comments-1"></textarea>
      </div>
      <div class="submit-section">
        <button class="button submit-contact-form submit-contact-form-1" type="submit">Get in Touch</button>
      </div>
    </div>
  </form>
</div>
