<button type="button" name="button">unstyled button element</button><br><br>
<button class="button" type="button" name="button">.button (.button.primary)</button><br>
<button class="button secondary" type="button" name="button">.button.secondary</button><br>
<button class="button dark-gray" type="button" name="button">.button.dark-gray</button><br>
<button class="button medium-gray" type="button" name="button">.button.medium-gray</button><br>

<h4>Button sizes</h4>
<a class="button tiny">So Tiny</a>
<a class="button small">So Small</a>
<a class="button">So Basic</a>
<a class="button large">So Large</a>
<a class="button expanded">Such Expand</a><br>
<a class="button small expanded">Wow, Small Expand</a>
