<ul class="tabs small-vertical large-flex yellow">
    <li class="tabs-title is-active"><a href="#panel-1" role="tab" aria-controls="panel-1" aria-selected="true" id="panel-1-label">Item 1</a></li>
    <li class="tabs-title"><a href="#panel-2" role="tab" aria-controls="panel-2" aria-selected="false" id="panel-2-label">Item 2</a></li>
    <li class="tabs-title"><a href="#panel-3" role="tab" aria-controls="panel-3" aria-selected="false" id="panel-3-label">Item 3</a></li>
    <li class="tabs-title"><a href="#panel-4" role="tab" aria-controls="panel-4" aria-selected="false" id="panel-4-label">Item 4</a></li>
</ul>
