<div class="icon-grid row small-up-2 medium-up-5 large-up-5">
  <div class="column">
    <span class="icon smiley light-gray"></span>
    <p>smiley</p>
  </div>
  <div class="column">
    <span class="large icon airplane"></span>
    <p>airplane</p>
  </div>
  <div class="column">
    <span class="large icon headphones"></span>
    <p>headphones</p>
  </div>
  <div class="column">
    <span class="large icon bridge"></span>
    <p>bridge</p>
  </div>
  <div class="column">
    <span class="large icon handshake"></span>
    <p>handshake</p>
  </div>
  <div class="column">
    <span class="large icon people"></span>
    <p>people</p>
  </div>
  <div class="column">
    <span class="large icon magnification-lens"></span>
    <p>magnification-lens</p>
  </div>
  <div class="column">
    <span class="large icon screen"></span>
    <p>screen</p>
  </div>
  <div class="column">
    <span class="large icon shield"></span>
    <p>shield</p>
  </div>
  <div class="column">
    <span class="large icon speech-balloons"></span>
    <p>speech-balloons</p>
  </div>
  <div class="column">
    <span class="large icon portfolio secondary"></span>
    <p>portfolio</p>
  </div>
  <div class="column">
    <span class="large icon availability secondary"></span>
    <p>availability</p>
  </div>
  <div class="column">
    <span class="large icon profile secondary"></span>
    <p>profile</p>
  </div>
  <div class="column">
    <span class="large icon interview secondary"></span>
    <p>interview</p>
  </div>
  <div class="column">
    <span class="large icon rates secondary"></span>
    <p>rates</p>
  </div>
  <div class="column">
    <img src="https://dev.vitamintalent.com/svg/bullseye-person.svg">
    <p>bullseye-person</p>
  </div>
  <div class="column">
    <img src="https://dev.vitamintalent.com/svg/magnifying-glass-chart.svg">
    <p>magnifying-glass-chart</p>
  </div>
  <div class="column">
    <img src="https://dev.vitamintalent.com/svg/computer-charts.svg">
    <p>computer-charts</p>
  </div>
  <div class="column">
    <span class="icon front-end primary"></span>
    <p>front-end</p>
  </div>
  <div class="column">
    <span class="icon ux-ui primary"></span>
    <p>ux-ui</p>
  </div>
  <div class="column">
    <span class="icon graphic-designer primary"></span>
    <p>graphic-designer</p>
  </div>
  <div class="column">
    <span class="icon print-production primary"></span>
    <p>print-production</p>
  </div>
  <div class="column">
    <span class="icon presentation-designer primary"></span>
    <p>presentation-designer</p>
  </div>
  <div class="column">
    <span class="icon copywriter primary"></span>
    <p>copywriter</p>
  </div>
  <div class="column">
    <span class="icon time-is-money primary"></span>
    <p>time-is-money</p>
  </div>
  <div class="column">
    <span class="icon bullseye primary"></span>
    <p>bullseye</p>
  </div>
  <div class="column last">
    <span class="icon money-back primary"></span>
    <p>money-back</p>
  </div>
  <div class="column">
    <span class="icon deposit primary"></span>
    <p>deposit</p>
  </div>
  <div class="column">
    <span class="icon shield primary"></span>
    <p>shield</p>
  </div>
  <div class="column">
    <span class="icon training primary"></span>
    <p>training</p>
  </div>
  <div class="column">
    <span class="icon network primary"></span>
    <p>network</p>
  </div>
  <div class="column">
    <span class="icon magnification-lens_2 primary"></span>
    <p>magnification-lens_2</p>
  </div>
  <div class="column">
    <span class="icon handshake primary"></span>
    <p>handshake</p>
  </div>
  <div class="column">
    <span class="icon heart primary"></span>
    <p>heart </p>
  </div>
  <div class="column">
    <span class="icon planning primary"></span>
    <p>planning</p>
  </div>
  <div class="column">
    <span class="icon creative-director primary"></span>
    <p>creative-director</p>
  </div>
  <div class="column">
    <span class="icon dm-managers primary"></span>
    <p>dm-managers</p>
  </div>
  <div class="column">
    <span class="icon pp-managers primary"></span>
    <p>pp-managers</p>
  </div>
  <div class="column">
    <span class="icon resume-people primary"></span>
    <p>resume-people</p>
  </div>
  <div class="column">
    <span class="icon comment"></span>
    <p>comment</p>
  </div>
  <div class="column">
    <span class="icon tags"></span>
    <p>tags</p>
  </div>
  <div class="column">
    <span class="icon linkedin light-gray"></span>
    <p>linkedin</p>
  </div>
  <div class="column">
    <span class="icon facebook light-gray"></span>
    <p>facebook</p>
  </div>
  <div class="column">
    <span class="icon instagram light-gray"></span>
    <p>instagram</p>
  </div>
  <div class="column">
    <span class="icon twitter light-gray"></span>
    <p>twitter</p>
  </div>
  <div class="column">
    <span class="icon youtube light-gray"></span>
    <p>youtube</p>
  </div>
  <div class="column">
    <span class="icon pinterest light-gray"></span>
    <p>pinterest</p>
  </div>
</div>
