<div class="icon-grid row small-up-2 medium-up-5 large-up-5">
  <div class="column">
    <span class="icon linkedin"></span>
    <p>linkedin</p>
  </div>
  <div class="column">
    <span class="icon facebook light-gray"></span>
    <p>facebook</p>
  </div>
  <div class="column">
    <span class="icon instagram light-gray"></span>
    <p>instagram</p>
  </div>
  <div class="column">
    <span class="icon twitter light-gray"></span>
    <p>twitter</p>
  </div>
  <div class="column">
    <span class="icon youtube light-gray"></span>
    <p>youtube</p>
  </div>
  <div class="column">
    <span class="icon pinterest light-gray"></span>
    <p>pinterest</p>
  </div>
</div>
