<h1 class="fixed-size-xx-small">h1 classed with <code>.xx-small</code></h1>
<h1 class="fixed-size-x-small">h1 classed with <code>.x-small</code></h1>
<h1 class="fixed-size-small">h1 classed with <code>.small</code></h1>
<h1 class="fixed-size-medium">h1 classed with <code>.medium</code></h1>
<h1 class="fixed-size-large">h1 classed with <code>.large</code></h1>
<h1 class="fixed-size-x-large">h1 classed with <code>.x-large</code></h1>
<h1 class="fixed-size-xx-large">h1 classed with <code>.xx-large</code></h1>
