
  <div class="row small-up-2 medium-up-3 large-up-3">

    <div class="columns">
      <div class="team-grid-item bg-white shadowed text-center margin-bottom-3x">
        <div class="item-front bg-white">
          <figure class="aspect-4x3 bg-cover image bg-primary">
          </figure>
          <div class="panel-details padding-1x padding-bottom-2x">
            <h3 class="separated-secondary-thin-narrow">Agent 1</h3>
            <h4>Job Title</h4>
          </div>
          <div class="corner-button"><span>+</span></div>
        </div>
      </div>
    </div>

    <div class="column text-center margin-bottom-2x">
     <div class="panel-split-vert bg-white shadowed">
       <figure class="aspect-4x3 bg-cover bg-secondary"></figure>
       <div class="panel-details padding-1x">
         <h3>Client Work</h3>
         <h4 class="separated-secondary-thin">Lorem ipsum dolor sit amet.</h4>
       </div>
     </div>
    </div>

  </div>
