<div class="icon-grid row small-up-2 medium-up-5 large-up-5">
  <div class="column">
    <span class="icon smiley"></span>
    <p>smiley</p>
  </div>
  <div class="column">
    <span class="icon airplane"></span>
    <p>airplane</p>
  </div>
  <div class="column">
    <span class="icon headphones"></span>
    <p>headphones</p>
  </div>
  <div class="column">
    <span class="icon bridge"></span>
    <p>bridge</p>
  </div>
  <div class="column">
    <span class="icon handshake"></span>
    <p>handshake</p>
  </div>
  <div class="column">
    <span class="icon people"></span>
    <p>people</p>
  </div>
  <div class="column">
    <span class="icon magnification-lens"></span>
    <p>magnification-lens</p>
  </div>
  <div class="column">
    <span class="icon screen"></span>
    <p>screen</p>
  </div>
  <div class="column">
    <span class="icon shield"></span>
    <p>shield</p>
  </div>
  <div class="column">
    <span class="icon speech-balloons"></span>
    <p>speech-balloons</p>
  </div>
</div>
