
<svg width="63px" height="16px" viewBox="0 0 63 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <rect id="path-1" x="0" y="3" width="16" height="16" rx="8"></rect>
        <circle id="path-3" cx="8" cy="11" r="5"></circle>
    </defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group" transform="translate(0.000000, -3.000000)">
            <text id="↳-✏️-Value" font-family="OpenSans-Semibold, Open Sans" font-size="14" font-weight="500" line-spacing="21" fill="#000000">
                <tspan x="26" y="15">Value</tspan>
            </text>
            <mask id="mask-2" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            <rect stroke="#6AC5DB" x="0.5" y="3.5" width="15" height="15" rx="7.5"></rect>
            <mask id="mask-4" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
            <use id="Circle" fill="#56BDDA" xlink:href="#path-3"></use>
        </g>
    </g>
</svg>
