<h1>Separated</h1>
<h2>Gotta keep 'em separated</h2>
<p>Use the <code>.separated</code> utility class to attach a thick, colored underline to a text element.</p>
<div class="bg-primary callout text-center">
  <h2 class="separated">Separated</h2>
  <p><code>.separated</code></p>
  <h2 class="separated-narrow">Separated, narrow</h2>
  <p><code>.separated-narrow</code></p>
  <h2 class="separated-wide">Separated, wide</h2>
  <p><code>.separated-wide</code></p>
  <h2 class="separated-secondary">Separated with Secondary Color</h2>
  <p><code>.separated-secondary</code></p>
  <h2 class="separated-white">Separated with White Underline</h2>
  <p><code>.separated-white</code></p>
  <h2 class="separated-white-transparent">Separated with transparent white underline</h2>
  <p><code>.separated-white-transparent</code></p>
  <h2 class="separated-secondary-transparent-wide">Separated with transparent secondary underline, wide</h2>
  <p><code>.separated-secondary-transparent-wide</code></p>
  <h2 class="separated-white-opaque-thin-narrow">Separated with thin white underline, narrow</h2>
  <p><code>.separated-white-opaque-thin-narrow</code></p>
</div>
