<div class="padding-1 margin-bottom-1 bg-primary">
  <p>SASS variable: <code>$primary-color</code><br>
  Hex value: <code>#00A392</code><br>
  Class name(s):
  <code>.bg-primary-color</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-secondary">
  <p>SASS variable: <code>$secondary-color</code><br>
  Hex value: <code>#9AC044</code><br>
  Class name(s):
  <code>.bg-secondary-color</code>
  <code>.text-secondary</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-success">
  <p>SASS variable: <code>$success</code><br>
  Hex value: <code>#3ADB76</code><br>
  Class name(s):
  <code>.bg-success</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-warning">
  <p>SASS variable: <code>$warning</code><br>
  Hex value: <code>#FFAE00</code><br>
  Class name(s):
  <code>.bg-warning</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-alert">
  <p>SASS variable: <code>$alert</code><br>
  Hex value: <code>##ec5840</code><br>
  Class name(s):
  <code>.bg-alert</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-white shadow">
  <p>SASS variable: <code>$white</code><br>
  Hex value: <code>#ffffff</code><br>
  Class name(s):
  <code>.bg-white</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-off-white shadow">
  <p>SASS variable: <code>$off-white</code><br>
  Hex value: <code>#f8f8f8</code><br>
  Class name(s):
  <code>.bg-off-white</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-whitesmoke shadow">
  <p>SASS variable: <code>$whitesmoke</code><br>
  Hex value: <code>#f2f2f2</code><br>
  Class name(s):
  <code>.bg-whitesmoke</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-light-gray shadow">
  <p>SASS variable: <code>$light-gray</code><br>
  Hex value: <code>#e6e6e6</code><br>
  Class name(s):
  <code>.bg-light-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-placeholder-gray shadow">
  <p>SASS variable: <code>$placeholder-gray</code><br>
  Hex value: <code>#aeaeae</code><br>
  Class name(s):
  <code>.bg-placeholder-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-medium-gray">
  <p>SASS variable: <code>$medium-gray</code><br>
  Hex value: <code>#84827e</code><br>
  Class name(s):
  <code>.bg-medium-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-medium-gray-2">
  <p>SASS variable: <code>$medium-gray-2</code><br>
  Hex value: <code>#666666</code><br>
  Class name(s):
  <code>.bg-medium-gray-2</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-dark-gray">
  <p>SASS variable: <code>$dark-gray</code><br>
  Hex value: <code>#322f28</code><br>
  Class name(s):
  <code>.bg-dark-gray</code>
  </p>
</div>
<div class="padding-1 margin-bottom-1 bg-black">
  <p>SASS variable: <code>$black</code><br>
  Hex value: <code>#1e1a17</code><br>
  Class name(s):
  <code>.bg-black</code>
  <code>.text-black</code>
  </p>
</div>
