<h3>Typography</h3>
<ul>
  <li>Base font: Open Sans</li>
  <li>Base font size: 16px (1em)</li>
  <li>Links: based on <a>$primary-color</a> variable</li>
</ul>
<h1>I am h1</h1>
<h2>I am h2</h2>
<h3>I am h3</h3>
<h4>I am h4</h4>
<h5>I am h5</h5>
<h6>I am h6</h6>
<hr>
<h4>VT-Specific Utility Classes</h4>
<ul>
  <li>.uppercase</li>
</ul>
<section class="content-section sub-page">
  <div class="row columns">
    <div class="row">
      <div class="columns large-8 large-centered">
        <div class="section-heading text-center">
          <h1>.sub-page .section-heading H1</h1>
          <p>.sub-page .section-headingparagraph. .sub-page .section-headingparagraph. .sub-page .section-headingparagraph. .sub-page .section-headingparagraph. .sub-page .section-headingparagraph. .sub-page .section-headingparagraph. .sub-page .section-headingparagraph. .sub-page .section-headingparagraph. </p>
        </div>
      </div>
    </div>
    <div class="content-wrapper">
      <div class="row">
        <div class="column large-7">
          <div id="main-content" class="main-content">
            <h2>.sub-page .main-content h2</h2>
            <p>.sub-page .main-content p. .sub-page .main-content p. .sub-page .main-content p. .sub-page .main-content p. .sub-page .main-content p. .sub-page .main-content p. .sub-page .main-content p. .sub-page .main-content p. </p>
            <p>.main-content ol:</p>
            <ol>
              <li>.main-content ol li</li>
              <li>.main-content ol li</li>
              <li>.main-content ol li</li>
            </ol>
            <p>.main-content ul:</p>
            <ul>
              <li>.main-content ul li</li>
              <li>.main-content ul li</li>
              <li>.main-content ul li</li>
              <li>.main-content ul li</li>
            </ul>
          </div>
        </div>
        <div id="sidebar" class="sidebar form-gray column medium-8 medium-centered large-4 large-uncentered">
          <p>Sidebar area</p>
        </div>
      </div>
    </div>
  </div>
</section>
